$bt-white: #FFF;

$bt-red: #FF4F00;
$bt-red-darker: #E14600;
$bt-red-ultralight: #FFDBCB;

$bt-yellow: #FFD200;
$bt-yellow-ultralight: #FFFDEE;

$bt-green: #00B136;

$bt-border-grey: #979797;


$bt-red-01alpha: rgba(255, 79, 0, .1);
$bt-red-05alpha: rgba(255, 79, 0, .5);
$bt-red-025alpha: rgba(255, 79, 0, .25);
$bt-yellow-02alpha: rgba(255, 210, 0, .6);

$bt-shadow-color: rgba(50, 50, 0, 0.25);