.beebutton {
	font-family: 'Kalam', Arial, sans-serif;
	border: none;
	border-radius: 30px;
	padding: .5rem 2rem;
	&:hover {
		background-color: $bt-red-darker;
	}
}

.beebutton-large {
	background-color: $bt-red;
	font-size: 1.2rem;
	padding: .75rem 4rem;
}

.textlink {
	font-family: 'Kalam', Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	color: black;
	text-decoration: underline;
	transition: color .2s;
	&:hover {
		color: $bt-red;
	}
}