a {
	color: $red;
	&:hover {
		color: $red-darker;
		text-decoration: none;
	}
}

.beebutton {
	font-family: 'Kalam', Arial, sans-serif;
	border: none;
	border-radius: 35px;
	padding: .5rem 2rem;
	&:hover {
		background-color: $red-darker;
	}
}

.beebutton-large {
	background-color: $red;
	font-size: 1.5rem;
	padding: .75rem 4rem;
	@media (min-width: 768px) {
		padding: 1rem 4rem;
	}
}

.textlink-kalam {
	font-family: 'Kalam', Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	color: black;
	text-decoration: underline;
	transition: color .2s;
	&:hover {
		color: $red;
	}
}

.textlink {
	color: $red;
	&:hover {
		color: $red-darker;
		text-decoration: none;
	}
}